@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: bold !important;
}

body {
  background-image: url('./assets/Background.jpg');
}

.name-tittle {
  width: 25rem;
  animation: typing 3s steps(25), blink .4s infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  40% {
    border-color: rgba(255, 255, 2555, 0.2);
  }
}
