@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: bold !important;
}

body {
  background-image: url('./assets/Background.png');
  background-attachment: scroll;
}

.name-tittle {
  width: 25rem;
  animation: typing 3s steps(25), blink .4s infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  40% {
    border-color: rgba(255, 255, 2555, 0.2);
  }
}

.fadeIn {
  animation: fadeIn 2s ease-in-out;
}

.fadeInOut {
  animation: fadeIn 3s ease-in-out;
  -webkit-animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.header-icons {
  color: white;
  font-size: 2.7rem;
  transition: .5s ease-in-out;
}

.header-icons:hover {
  color: #36659D;
}

.grow:hover {
  transform: scale(1.2);
  transition: .5s ease-in-out;
}